<script>
	export default {
		onLaunch: function() {
			// uni.clearStorageSync()
			// uni.setStorageSync("phone","15235940494")
			// console.log(uni.getStorageSync("phone"))
			// if(!uni.getStorageSync("code")){
			// 	uni.navigateTo({
			// 		url: "pages/login/login",
			// 		animationType: 'none',
			// 		success() {
			// 			//跳转完页面后再关闭启动页
			// 			plus.navigator.closeSplashscreen();
			// 		}
			// 	})
			// }else{
			// 	plus.navigator.closeSplashscreen();  //关闭启动进入首页
			// }
		},
		onShow: function() {
			// console.log('App Show')
		},
		onHide: function() {
			// console.log('App Hide')
		}
	}
</script>

<style>
	
</style>
  