<template>
	<view class="content">
		<view class="title">
			吉日解析
		</view>
		<view class="test-result">
			<view class="result-title">结果分析</view>
			<view v-for="(value,key) in info" :key="key" class="info">
				<view class="res-title">
					<view v-if="key=='year'" class="info-tit">年份</view>
					<view v-if="key=='month'" class="info-tit">月份</view>
					<view v-if="key=='day'" class="info-tit">日期</view>
					<view v-if="key=='time'" class="info-tit">时辰</view>
				</view>
				<view class="res-cononent" v-for="(_value,_key) in value" :key="_key" v-if="Object.prototype.toString.call(value) === '[object Object]'">
					<view class="res-con" v-if="typeof(_value)=='string'">
						<view class="con-key">
							{{_key}} :
						</view>
						<view class="con-value">
							{{_value}}
						</view>
					</view>
					<view class="obj-con" v-if="typeof(_value)=='object'" style="margin-top:20rpx;">
						<view class="obj-key">
							{{_key}} :
						</view>
						<view class="res-con" v-for="(val,_key_) in _value" :key="_key_" style="margin-left: 20rpx;">
							<view class="con-key">
								{{_key_}} :
							</view>
							<view class="con-value">
								{{val}}
							</view>
						</view>
					</view>
				</view>
				<view class="res-cononent" v-for="(item,index) in value" :key="index" v-if="Object.prototype.toString.call(value) === '[object Array]'">
					<view class="info-tit-sub">
						{{item["农历时辰"]}}
					</view>
					<view class="" v-for="(avalue,akey) in item" :key="akey">
						<view class="res-con" v-if="typeof(avalue)=='string'">
							<view class="con-key">
								{{akey}} :
							</view>
							<view class="con-value">
								{{avalue}}
							</view>
						</view>
						<view class="obj-con" v-if="typeof(avalue)=='object'" style="margin-top:20rpx;">
							<view class="obj-key">
								{{akey}} :
							</view>
							<view class="res-con" v-for="(aval,akey_) in avalue" :key="akey_" style="margin-left: 20rpx;">
								<view class="con-key">
									{{akey_}} :
								</view>
								<view class="con-value">
									{{aval}}
								</view>
							</view>

						</view>
					</view>

				</view>
			</view>
		</view>
		<view class="toWebIndex" @tap="toWebIndex()">返 回</view>
	</view>
</template>

<script>
	export default {
		data() {
			return {
				info: {}
			}
		},
		methods: {
			//返回上一页
			toWebIndex() {
				uni.navigateBack({
					delta: 1,
					animationType: 'pop-out',
					animationDuration: 200
				})
			},
		},
		onLoad(options) {
			this.info = JSON.parse(options.info)
			// console.log(this.info)
		}
	}
</script>

<style scoped>
	.content {
		/* background: #e5e5e5; */
	}

	.title {
		padding-top: 40rpx;
		width: 100%;
		text-align: center;
		line-height: 100rpx;
		border-bottom: 1px solid #333333;
		background: #a10600;
		color: #fff;
	}

	.test-result {
		width: 100%;
		font-size: 32rpx;
	}

	.info {
		padding: 30rpx;
		border-bottom: 2px solid #ccc;
		box-sizing: border-box;
		background: #FFFFFF;
	}

	.info:last-child {
		border: none;
	}

	.result-title {
		font-size: 38rpx;
		padding-left: 20rpx;
		box-sizing: border-box;
		line-height: 80rpx;
	}

	.res-title {
		/* width: 100rpx; */
		font-size: 36rpx;
		margin-bottom: 20rpx;
		flex: 1;
		font-weight: 600;

	}

	.info-tit {
		width: 100%;
		background: #e1e1e1;
		height: 70rpx;
		line-height: 70rpx;
		padding-left: 20rpx;
		border-left: 10rpx solid #a10600;
		box-sizing: border-box;
	}

	.info-tit-sub {
		width: 95%;
		background: #e1e1e1;
		height: 70rpx;
		line-height: 70rpx;
		padding-left: 20rpx;
		border-left: 10rpx solid #726d40;
		box-sizing: border-box;
	}

	.res-cononent {
		width: 100%;
		font-size: 32rpx;
		margin-left: 20rpx;
		/* border: 1px solid #000000; */
	}

	.res-con {
		display: flex;
		margin-top: 30rpx;
	}


	.con-key {
		width: 280rpx;
		font-size: 32rpx;
		/* border-right: 1px solid #000000; */
		/* padding: 0 10rpx; */
		box-sizing: border-box;
		display: flex;
		/* align-items: center; */
	}

	.con-value {
		flex: 1;
		padding: 0 10rpx;
		box-sizing: border-box;
		display: flex;
		color: #696969;
		/* align-items: center; */
	}

	.toWebIndex {
		width: 50rpx;
		height: 150rpx;
		line-height: 50rpx;
		background: #000;
		color: #FFFFFF;
		text-align: center;
		font-size: 28rpx;
		position: fixed;
		left: 0;
		bottom: 70rpx;
		-webkit-writing-mode: vertical-rl;
		writing-mode: vertical-rl;
		border-radius: 0 30rpx 30rpx 0;
	}
</style>
