<template>
	<view class="content">
		<view class="title">
			中华万年历
		</view>
		<view class="sub-title">
			请输入公历，若只知道农历，请查询后再进行测算
		</view>
		<view class="cell" v-for='(item,index) in list' :key='index'>
			<!-- <view class="cell-title">
				{{item.title}}
			</view> -->
			<view class="cell-detail" @click="selectDatePicker(item.type,index)">
				{{item.detail}}
			</view>
			
			<button type="default" class="test" @tap="test">开始测算</button>
		</view>
		<date-time-picker ref='date-time' :indicatorStyle='indicatorStyle' :type='type' :datestring='dateString' @change='dateTimeChange'></date-time-picker>
		
		<view class="test-result">
			<view class="result-title">结果分析</view>
			<view v-for="(value,key) in info" :key="key" class="info">
				<view class="res-title">
					<view v-if="key=='year'" class="info-tit">年份</view>
					<view v-if="key=='month'" class="info-tit">月份</view>
					<view v-if="key=='day'" class="info-tit">日期</view>
					<view v-if="key=='time'" class="info-tit">时期</view>
				</view>
				<view class="res-cononent" v-for="(_value,_key) in value" :key="_key" v-if="typeof(_key)=='string'">
					<view class="res-con" v-if="typeof(_value)=='string'">
						<view class="con-key">
							{{_key}} :
						</view>
						<view class="con-value">
							{{_value}}
						</view>
					</view>
					<view class="obj-con" v-if="typeof(_value)=='object'" style="margin-top:20rpx;">
						<view class="obj-key">
							{{_key}} :
						</view>
						<view class="res-con" v-for="(val,_key_) in _value" :key="_key_" style="margin-left: 20rpx;">
							<view class="con-key" >
								{{_key_}} :
							</view>
							<view class="con-value" >
								{{val}}
							</view>
						</view>
					</view>
				</view>
			</view>
		</view>
		<view class="toWebIndex" @tap="toWebIndex()">返 回</view>
	</view>
</template>

<script>
	import DateTimePicker from '@/components/bory-dateTimePicker/bory-dateTimePicker.vue'
	export default {
		components: {
			DateTimePicker
		},
		data() {
			return {
				dateString: '',
				type: 'year-month',
				list: [{
					type: 'datetime-all',
					title: '请选择出生日期',
					detail: '点击选择日期'
				}],
				providerList: [],
				info: {}

			}
		},
		methods: {

			selectDatePicker(type, index) {
				this.type = type;
				this.index = index;
				this.$refs['date-time'].show();
			},
			/**
			 * isShowToolBar：true 点击确定获取数值
			 * isShowToolBar：false 滑动获取返回数据
			 */
			dateTimeChange(value) {
				let item = this.list[this.index];
				item['detail'] = value;
				this.list.splice(this.index, 1, item);
			},
			//测算
			test() {
				const value = this.list[0].detail
				if (value == "点击选择日期") {
					uni.showToast({
						title: "请选择日期",
						duration: 3000,
						icon: "none"
					})
					return false
				}
				if (uni.getStorageSync("pay")) {
					//获取完整时间
					const reg = /\d+/g;
					let data = value.match(reg).join("");
					//获取时分秒
					const arrs = value.split(" ")
					uni.request({
						url: "http://lbc.maohemao.cn/api/gday/gday",
						method: "post",
						data: {
							"date": data,
							"time": arrs[1],
							tel: uni.getStorageSync("phone")
						},
						success: (res) => {
							this.info = res.data
							this.$forceUpdate()
						},
						fail(err) {
							console.log(err)
						}
					})
				} else {
					uni.navigateTo({
						url: "/pages/pay/pay",
						animationType: 'pop-in',
						animationDuration: 200
					})
				}

			},
			//返回首页
			toWebIndex() {
				uni.navigateBack({
					delta: 1,
					animationType: 'pop-out',
					animationDuration: 200
				})
			},
		},
		computed: {
			indicatorStyle() {
				return {
					background: 'rgba(255,0,0,.2)',
					height: '40px',
				};
			},

		},
		onShow() {
			if (uni.getStorageSync("pay")){
				this.test();
				uni.removeStorageSync("pay")
			}
		}

	}
</script>

<style scoped>
	.content{
		background: #e5e5e5;
	}
	.title {
		padding-top: 40rpx;
		width: 100%;
		text-align: center;
		line-height: 100rpx;
		border-bottom: 1px solid #333333;
		background: #a10600;
		color: #fff;
	}

	.sub-title {
		font-size: 24rpx;
		width: 100%;
		text-align: center;
		line-height: 60rpx;
	}

	.test {
		width: 200rpx;
		height: 70rpx;
		line-height: 70rpx;
		position: absolute;
		right: 30rpx;
		top: 15rpx;
		background: #a10600;
		color: #fff;
		font-size: 32rpx;
	}

	.cell {
		padding:30rpx;
		box-sizing: border-box;
		background: #FFFFFF;
		position: relative;
	}

	.cell-detail {
		font-size: 28rpx;
		margin-left: 30rpx;
	}

	.test-result {
		width: 100%;
		font-size: 32rpx;
	}

	.info {
		padding: 30rpx;
		border-bottom: 2px solid #ccc;
		box-sizing: border-box;
		background: #FFFFFF;
	}

	.info:last-child {
		border: none;
	}

	.result-title {
		font-size: 38rpx;
		padding-left: 20rpx;
		box-sizing: border-box;
		line-height: 80rpx;
	}
	
	.res-title {
		/* width: 100rpx; */
		font-size: 36rpx;
		margin-bottom: 20rpx;
		flex: 1;
		font-weight: 600;

	}
	.info-tit{
		width: 100%;
		background: #e1e1e1;
		height: 70rpx;
		line-height: 70rpx;
		padding-left:20rpx;
		border-left: 10rpx solid #a10600;
		box-sizing: border-box;
	}
	.res-cononent {
		width: 100%;
		font-size: 32rpx;
		margin-left: 20rpx;
		/* border: 1px solid #000000; */
	}

	.res-con {
		display: flex;
		margin-top: 30rpx;
	}


	.con-key {
		width: 280rpx;
		font-size: 32rpx;
		/* border-right: 1px solid #000000; */
		/* padding: 0 10rpx; */
		box-sizing: border-box;
		display: flex;
		/* align-items: center; */

	}

	.con-value {
		flex: 1;
		padding: 0 10rpx;
		box-sizing: border-box;
		display: flex;
		color: #696969;
		/* align-items: center; */
	}
	.toWebIndex {
		width: 50rpx;
		height: 150rpx;
		line-height: 50rpx;
		background: #000;
		color: #FFFFFF;
		text-align: center;
		font-size: 28rpx;
		position: fixed;
		left: 0;
		bottom: 70rpx;
		-webkit-writing-mode: vertical-rl;
		writing-mode: vertical-rl;
		border-radius: 0 30rpx 30rpx 0;
	}
</style>
