<template>
	<view class="fate">
		<view class="title">
			八字命运精批算命
		</view>
		<view class="sub-title">
			请输入公历，若只知道农历，请查询后再进行测算
		</view>
		<view class="single-sel">
			<view @click="single=1" :class="single==1?'seled':''">姓名分析</view>
			<view @click="single=2" :class="single==2?'seled':''">八字称骨</view>
			<view @click="single=3" :class="single==3?'seled':''">命卦信息</view>
			<view @click="single=4" :class="single==4?'seled':''">姓名数理</view>
			<view @click="single=5" :class="single==5?'seled':''">八字命盘</view>
			<view @click="single=6" :class="single==6?'seled':''">八字命理</view>
		</view>
		<view class="inp">
			<form  class="form">
				<view class="xing">
					<text>姓氏 :</text><input type="text" v-model="formDate.xing" placeholder="张" />
				</view>
				<view class="name">
					<text>名字 :</text><input type="text" value="" v-model="formDate.name" placeholder="三" class="name" />
				</view>
				<view class="sex">
					<text>性别 :</text>
					<radio-group @change="radioChange" style="margin-left: 20rpx;">
						<label>
							<radio value="男" /><text>男</text>
						</label>
						<label style="margin-left: 20rpx;">
							<radio value="女" /><text>女</text>
						</label>
					</radio-group>
				</view>
				<view class="cell" v-for='(item,index) in list' :key='index'>
					<view class="cell-title">
						{{item.title}}
					</view>
					<view class="cell-detail" @click="selectDatePicker(item.type,index)" style="margin-left: 20rpx;">
						{{item.detail}}
					</view>
				</view>
				<date-time-picker ref='date-time' :indicatorStyle='indicatorStyle' :type='type' :datestring='dateString' @change='dateTimeChange'></date-time-picker>
				<button form-type="submit" class="start" @tap="formSubmit">开始测算</button>
			</form>
		</view>
		
		<view class="result">
			<view class="result-title">结果分析</view>
			<view v-for="(value,key) in info" :key="key" class="info">
				<view class="res-title">
					{{key}}
				</view>
				<view class="res-cononent" v-if="typeof(value)=='string'">
					{{value}}
				</view>
				<view class="res-cononent" v-if="typeof(value)=='object'" v-for="(_value,_key) in value" :key="_key">
					<view class="str-con" v-if="typeof(_value)=='string'">
						<view class="con-key">
							{{_key}} :
						</view>
						<view class="con-value">
							{{_value}}
						</view>
					</view>
					<view  class="obj-con" v-if="typeof(_value)=='object'">
						<view class="con-key">
							{{_key}} :
						</view>
						<view class="con-value" v-for="(_value_,_key_) in _value" :key="_key_">
							<view class="str-sub-con" v-if="typeof(_value_)=='string'">
								<view class="con-key">
									{{_key_}} :
								</view>
								<!-- 子元素是字符串 -->
								<view class="con-value" >
									{{_value_}}
								</view>
							</view>

							<!-- 子元素是json -->
							<view  class="obj-sub-con" v-if="typeof(_value_)=='object'">
								<view class="con-key" v-if="!Array.isArray(_value)">
									{{_key_}} :
								</view>
								<view class="con-value" v-for="(__value,__key) in _value_" :key="__key">
									<view class="con-key" v-if="typeof(__value)=='string'">
										{{__key}} :
									</view>
									<view class="con-value" v-if="typeof(__value)=='string'">
										{{__value}}
									</view>
									<view class="con-value" v-for="(val2,key2) in __value" :key="key2" v-if="typeof(__value)=='object'">
										{{key2}}:{{val2}}
									</view>
								</view>
							</view>
						</view>
					</view>
				</view>
			</view>
		</view>
		<view class="toWebIndex" @tap="toWebIndex()">返 回</view>
	</view>
</template>

<script>
	import DateTimePicker from '@/components/bory-dateTimePicker/bory-dateTimePicker.vue'
	export default {
		components: {
			DateTimePicker
		},
		data() {
			return {
				dateString: '',
				type: 'year-month',
				list: [{
					type: 'datetime-all',
					title: '请选择出生日期 : ',
					detail: '点击选择'
				}],
				info: {},
				formDate:{
					xing:"",
					name:"",
					sex:""
				},
				single:1,
				singledes:"命主实体信息"
			}
		},
		methods: {
			selectDatePicker(type, index) {
				this.type = type;
				this.index = index;
				this.$refs['date-time'].show();
			},
			dateTimeChange(value) {
				let item = this.list[this.index];
				item['detail'] = value;
				this.list.splice(this.index, 1, item);
			},
			//单选变化
			radioChange(e){
				this.formDate.sex=e.target.value
			},
			//表单提交
			formSubmit() {
				const value = this.list[0].detail
				if (this.formDate.xing == '') {
					uni.showToast({
						title: "姓氏不能为空",
						duration: 3000,
						icon: "none"
					})
					return false
				} else if (this.formDate.name == '') {
					uni.showToast({
						title: "名字不能为空",
						duration: 3000,
						icon: "none"
					})
					return false
				} else if (this.formDate.sex == '') {
					uni.showToast({
						title: "请选择性别",
						duration: 3000,
						icon: "none"
					})
					return false
				} else if (value == "点击选择") {
					uni.showToast({
						title: "请选择日期",
						duration: 3000,
						icon: "none"
					})
					return false
				}
				// if (uni.getStorageSync("pay")) {
					uni.showLoading()
					//获取完整时间
					const reg = /\d+/g;
					let data = value.match(reg).join("");
					uni.request({
						url: "http://lbc.maohemao.cn/api/ew/index",
						method: "post",
						data: {
							first_name: this.formDate.xing,
							second_name: this.formDate.name,
							sex: this.formDate.sex,
							date: data,
							type:this.singledes,
							// tel: uni.getStorageSync("phone")
						},
						header: {
							'token':uni.getStorageSync("token")  //自定义请求头信息
						},
						success: (res) => {
							// console.log(res)
							if(res.data.status==true){
								this.info = res.data.data;
								this.$forceUpdate();
								uni.hideLoading();
								uni.removeStorageSync("pay")
							}else{
								uni.showToast({
									title:res.data.msg,
									icon:"none"
								})
							}
							
						},
						fail(err) {
							uni.showToast({
								title:"系统错误，请联系客服",
								icon:"none"
							})
						},
					})
				// } else {
				// 	uni.navigateTo({
				// 		url: "/pages/pay/pay",
				// 		animationType: 'pop-in',
				// 		animationDuration: 200
				// 	})
				// }
			},
			//返回首页
			toWebIndex() {
				uni.navigateBack({
					delta: 1,
					animationType: 'pop-out',
					animationDuration: 200
				})
			}
		},
		computed: {
			indicatorStyle() {
				return {
					background: 'rgba(255,0,0,.2)',
					height: '40px',
				};
			}
		},
		watch:{
			single(newVal){
				switch(newVal){
					case 1:{
						this.singledes="命主实体信息"
						break;
					}
					case 2:{
						this.singledes="命主八字称骨实体信息"
						break;
					}
					case 3:{
						this.singledes="命主命卦实体信息"
						break;
					}
					case 4:{
						this.singledes="命主姓名数理实体信息"
						break;
					}
					case 5:{
						this.singledes="命主八字命盘实体信息"
						break;
					}
					case 6:{
						this.singledes="命主八字命盘命理实体信息"
						break;
					}
				}
				// console.log(this.singledes)	
				
			}
		},
		onShow() {
			// if (uni.getStorageSync("pay")){
			// 	this.formSubmit()
			// }
			
		}
	}
</script>

<style>
	.fate{
		background: #e5e5e5;
	}
	.title {
		width: 100%;
		padding-top: 40rpx;
		text-align: center;
		line-height: 100rpx;
		/* border-bottom: 1px solid #333333; */
		background: #a10600;
		color: #fff;
	}

	.sub-title {
		font-size: 24rpx;
		width: 100%;
		text-align: center;
		line-height: 60rpx;
	}

	.inp {
		width: 100%;
		background: #FFFFFF;
		padding:0 30rpx 30rpx;
		box-sizing: border-box;
		font-size: 28rpx;

	}

	.xing,
	.name,
	.sex {
		display: flex;
		height: 80rpx;
		line-height: 60rpx;
		/* align-items: center; */
	}



	.inp input {
		width: 300rpx;
		height: 60rpx;
		border: 1px solid #ccc;
		padding: 0 20rpx;
		box-sizing: border-box;
		margin-left: 20rpx;
	}

	.start {
		width: 200rpx;
		height: 70rpx;
		line-height: 70rpx;
		background: #a10600;
		color: #fff;
		font-size: 32rpx;
		margin-top: 30rpx;
	}

	.result {
		width: 100%;
		box-sizing: border-box;
		font-size: 28rpx;
	}

	.result-title {
		font-size: 38rpx;
		padding-left: 20rpx;
		line-height: 80rpx;
		box-sizing: border-box;
	}

	.info {
		padding: 30rpx;
		box-sizing: border-box;
		border-bottom: 2px solid #ccc;
		background: #FFFFFF;
	}

	.info:last-child {
		border: none;
	}

	.res-title {
		font-size: 36rpx;
		margin-bottom: 20rpx;
		flex: 1;
		font-weight: 600;
		background: #e1e1e1;
		height: 70rpx;
		line-height: 70rpx;
		padding-left:20rpx;
		border-left: 10rpx solid #a10600;
		box-sizing: border-box;
	}

	.res-cononent {
		width: 100%;
		margin-top: 20rpx;
		margin-left: 30rpx;
		/* border: 1px solid #000000; */
	}

	.str-con {
		display: flex;
	}
	.obj-con{
		/* display: flex; */
	}

	.con-key {
		width: 280rpx;
		font-size: 32rpx;
		/* border-right: 1px solid #000000; */
		padding: 0 10rpx;
		box-sizing: border-box;
		display: flex;
		/* align-items: center; */
	}

	.con-value {
		flex: 1;
		padding: 0 10rpx;
		box-sizing: border-box;
		display: flex;
		
	}
	.con-value .con-key{
		color: #000;
	}
	.con-value .con-value{
		color: #696969;
	}
	.str-con .con-value{
		color: #696969;
	}
	.obj-sub-con{
		width: 100%;
		margin-top: 20rpx;
	}
	.obj-sub-con>.con-value{
		margin-top: 20rpx;
		margin-left: 50rpx;
		display: flex;
	}
	.obj-sub-con>.con-value>.con-value{
		/* color: red; */
		flex: 1;
	}
	.str-sub-con{
		display: flex;
		margin-top: 20rpx;
	}

	.toWebIndex {
		width: 50rpx;
		height: 150rpx;
		line-height: 50rpx;
		background: #000;
		color: #FFFFFF;
		text-align: center;
		font-size: 28rpx;
		position: fixed;
		left: 0;
		bottom: 70rpx;
		-webkit-writing-mode: vertical-rl;
		writing-mode: vertical-rl;
		border-radius: 0 30rpx 30rpx 0;
	}
	.single-sel{
		padding: 30rpx;
		box-sizing: border-box;
		display: flex;
		/* justify-content: space-between; */
		flex-wrap: wrap;
		background: #fff;
	}
	.single-sel>view{
		padding: 10rpx 20rpx;
		font-size: 24rpx;
		border: 1px solid #000;
		margin-right: 30rpx;
		margin-bottom: 20rpx;
	}
	.single-sel>.seled{
		/* border: 1px solid #a10600; */
		background: #a10600;
		color: #ffffff;
		border: 1px solid #a10600;
	}
	.cell{
		display: flex;
	}
</style>
