<template>
	<view class="content">
		<view class="title">
			吉日查询
		</view>
		<view class="sub-title">
			请输入公历，若只知道农历，请查询后再进行测算
		</view>
		<!-- <view class="cell" >
			<view class="cell-detail" @click="selectDatePicker(item.type,index)">
				{{item.detail}}
			</view>
			<button type="default" class="test" @tap="test">开始测算</button>
		</view>
		<date-time-picker ref='date-time' :endYear="endYear" :indicatorStyle='indicatorStyle' :type='type' :datestring='dateString' @change='dateTimeChange'></date-time-picker> -->
		<view class="cell">
			<view class="cell-item" v-for='(item,index) in list' :key='index'>
				<view class="cell-detail" @click="selectDatePicker(item.type,index)">
					{{item.detail}}
				</view>
			</view>
			<date-time-picker ref='date-time' :indicatorStyle='indicatorStyle' :type='type' :datestring='dateString' @change='dateTimeChange'></date-time-picker>
		</view>
		<view class="btn-test">
			<button type="default" class="test" @tap="test">开始测算</button>
		</view>
		<view class="result-list" >
			<view class="list-item" v-for="(item,index) in info" :key="index" @click="toInfo(item)">
				<view class="item-gong">
					<view class="date-title">公历</view>
					<view>{{item.year["公历年"]+item.month["公历月"]+item.day["公历日"] | filDate()}} </view>
				</view>
				<view class="item-nong">
					<view class="nong-title">{{item.year["农历年"]+"年"+item.month["农历月"]+item.day["农历日"]+"日"}} 【{{item.year["属相"]}}】</view>
					<view class="words">
						<text style="color: #a10600;">宜：</text><text>{{item.day["日份_宜"] }}  </text> 
					</view>
					<view class="words">
						<text style="color: #a10600;">忌：</text><text>{{item.day["日份_忌"]}} </text> 
					</view>
				</view>
				<view class="toInfo">
					<image src="../../static/images/toinfo.png" mode=""></image>
				</view>
			</view>
		</view>
		
		<view class="toWebIndex" @tap="toWebIndex()">返 回</view>

	</view>
</template>

<script>
	import DateTimePicker from '@/components/bory-dateTimePicker/bory-dateTimePicker.vue'
	export default {
		components: {
			DateTimePicker
		},
		data() {
			return {
				dateString: '',
				endYear: 2050,
				type: 'year-month',
				list: [{
					type: 'date',
					detail: '起始日期'
				}, {
					type: 'date',
					detail: '结束日期'
				}],
				providerList: [],
				info: []
			}
		},
		methods: {
			selectDatePicker(type, index) {
				this.type = type;
				this.index = index;
				this.$refs['date-time'].show();
			},
			/**
			 * isShowToolBar：true 点击确定获取数值
			 * isShowToolBar：false 滑动获取返回数据
			 */
			dateTimeChange(value) {
				let item = this.list[this.index];
				item['detail'] = value;
				this.list.splice(this.index, 1, item);
			},
			//测算
			test() {
				const start = this.list[0].detail;
				const end = this.list[1].detail;
				const startStr=start.split("-").join("")
				const endStr=end.split("-").join("")
				if (start == "起始日期") {
					uni.showToast({
						title: "请选择起始日期",
						duration: 3000,
						icon: "none"
					})
					return false
				} else if (end == "结束日期") {
					uni.showToast({
						title: "请选择结束日期",
						duration: 3000,
						icon: "none"
					})
					return false
				}else if(endStr-startStr<0){
					uni.showToast({
						title: "请选择正确的日期区间",
						duration: 3000,
						icon: "none"
					})
					return false
				}
				if (uni.getStorageSync("pay")) {
				uni.showLoading()
				uni.request({
					url: "http://lbc.maohemao.cn/api/gday/gday",
					method: "post",
					data: {
						startdate: start,
						enddate: end,
						// tel: uni.getStorageSync("phone")
					},
					header: {
						'token': uni.getStorageSync("token") //自定义请求头信息
					},
					success: (res) => {
						if (res.data.code == 3) {
							this.info = res.data.data
							this.$forceUpdate()
							uni.hideLoading()
							uni.removeStorageSync("pay")
							// console.log(this.info)
						} else {
							uni.showToast({
								title: res.data.msg,
								icon: "none"
							})
						}
						

					},
					fail(err) {
						uni.showToast({
							title: "系统错误，请联系客服",
							icon: "none"
						})
					}
				})
				} else {
					let date={"start":this.list[0].detail,"end" : this.list[1].detail}
					uni.navigateTo({
						url: "/pages/pay/pay?date="+JSON.stringify(date),
						animationType: 'pop-in',
						animationDuration: 200
					})
				}


				// if (value == "点击选择日期") {
				// 	uni.showToast({
				// 		title: "请选择日期",
				// 		duration: 3000,
				// 		icon: "none"
				// 	})
				// 	return false
				// }
				// if (uni.getStorageSync("pay")) {
				// 	uni.showLoading()
				// 	//获取完整时间
				// 	const reg = /\d+/g;
				// 	let data = value.match(reg).join("");
				// 	//获取时分秒
				// 	const arrs = value.split(" ")
				// 	uni.request({
				// 		url: "http://lbc.maohemao.cn/api/gday/gday",
				// 		method: "post",
				// 		data: {
				// 			"date": data,
				// 			"time": arrs[1],
				// 			// tel: uni.getStorageSync("phone")
				// 		},
				// 		header: {
				// 			'token': uni.getStorageSync("token") //自定义请求头信息
				// 		},
				// 		success: (res) => {
				// 			this.info = res.data
				// 			this.$forceUpdate()
				// 			uni.hideLoading()
				// 		},
				// 		fail(err) {
				// 			uni.showToast({
				// 				title: "系统错误，请联系客服",
				// 				icon: "none"
				// 			})
				// 		}
				// 	})
				// } else {
				// 	uni.navigateTo({
				// 		url: "/pages/pay/pay",
				// 		animationType: 'pop-in',
				// 		animationDuration: 200
				// 	})
				// }

			},
			//返回首页
			toWebIndex() {
				uni.navigateBack({
					delta: 1,
					animationType: 'pop-out',
					animationDuration: 200
				})
			},
			//跳转详情页
			toInfo(info){
				let infos=JSON.stringify(info)
				uni.navigateTo({
					url: "/pages/dateInfo/dateInfo?info="+infos,
					animationType: 'pop-in',
					animationDuration: 200
				})
			}
		},
		computed: {
			indicatorStyle() {
				return {
					background: 'rgba(255,0,0,.2)',
					height: '40px',
				};
			},
		},
		onShow() {
			if (uni.getStorageSync("pay")) {
				this.test();
			}
		},				
		filters: {
			//过滤日期
			filDate(msg) {
				let date=msg.replace(/[^0-9]/ig,"-");
				return date.substr(0,date.length-1)
			},
			//过滤词语
			filword(msg){
				let wordsArr=msg.split("、")
				let words=wordsArr.splice(0,7).join("、")
				return words+"..."
			}
		}
	}
</script>

<style scoped>
	.content {
		/* background: #e5e5e5; */
	}

	.title {
		padding-top: 40rpx;
		width: 100%;
		text-align: center;
		line-height: 100rpx;
		border-bottom: 1px solid #333333;
		background: #a10600;
		color: #fff;
	}

	.sub-title {
		font-size: 24rpx;
		width: 100%;
		text-align: center;
		line-height: 60rpx;
	}

	.btn-test {
		width: 100%;
		background: #FFFFFF;
		padding: 20rpx 0;
	}

	.test {
		width: 200rpx;
		height: 70rpx;
		line-height: 70rpx;
		background: #a10600;
		color: #fff;
		font-size: 32rpx;
	}

	.cell {
		padding: 30rpx;
		box-sizing: border-box;
		background: #FFFFFF;
		position: relative;
		display: flex;
		justify-content: space-between;
		border-bottom: 1px solid #CCCCCC;
	}

	.cell-item {
		width: 50%;
		text-align: center;
		font-size: 36rpx;
	}

	.cell-item:nth-child(1) {
		border-right: 1px solid #000000;
	}

	.cell-detail {
		font-size: 28rpx;
		/* margin-left: 30rpx; */
	}

	
	.toWebIndex {
		width: 50rpx;
		height: 150rpx;
		line-height: 50rpx;
		background: #000;
		color: #FFFFFF;
		text-align: center;
		font-size: 28rpx;
		position: fixed;
		left: 0;
		bottom: 70rpx;
		-webkit-writing-mode: vertical-rl;
		writing-mode: vertical-rl;
		border-radius: 0 30rpx 30rpx 0;
	}

	.result-list {
		width: 100%;
		padding: 0 30rpx;
		box-sizing: border-box;
		background: #FFFFFF;
	}

	.list-item {
		width: 100%;
		height: 250rpx;
		background: url(../../static/images/datebg.png);
		background-size: 100% 100%;
		padding: 30rpx;
		box-sizing: border-box;
		display: flex;
		justify-content: space-between;
		align-items: center;
		font-size: 28rpx;
		margin-bottom: 30rpx;
	}

	.item-gong {
		width: 28%;
		text-align: center;
		line-height: 60rpx;
		border-right:1px solid #CCCCCC ;
		color: #4C0B00;
	}

	.item-nong {
		width: 63%;
		color: #333333;
	}

	.toInfo image {
		width: 30rpx;
		height: 30rpx;
	}
	.date-title{
		font-size: 36rpx;
		font-weight: 600;
	}
	.nong-title{
		font-size: 32rpx;
		color: #202f42;
		margin-bottom: 15rpx;
	}
	.words{
		overflow : hidden;
		text-overflow: ellipsis;
		display: -webkit-box;
		-webkit-line-clamp: 2;
		-webkit-box-orient: vertical;
	}
</style>
