<template>
	<view class="list">
		<view class="top-list" v-for="(item,index) in List" :key="index" v-if="sames=='top'">
			<view :class="['key',item.type=='y'?'red':'']">{{item.name}}</view>
			<view class="center-masker" :style="item.type=='y'?'background:red':'background:black'"></view>
			<view :class="['listClassify',item.type=='y'?'red':'']">
				<text v-for="(_item,_index) in item.desc" :key="_index">{{_item}}</text>
			</view>
		</view>
		<view class="top-list" v-for="(item,index) in List" :key="index" v-if="sames=='bottom'">
			<view :class="['listClassify',item.type=='y'?'red':'']">
				<text v-for="(_item,_index) in item.desc" :key="_index">{{_item}}</text>
			</view>
			<view class="center-masker" :style="item.type=='y'?'background:red':'background:black'"></view>
			<view :class="['key',item.type=='y'?'red':'']">{{item.name}}</view>
		</view>
	</view>
</template>

<script>
	export default {
		props:["text",'same'],
		data() {
			return {
				List:this.text,
				sames:this.same
			};
		},
	}
</script>

<style>
	.list{
		display: flex;
	}
	.top-desc {
		display: flex;
		flex-wrap: nowrap;
		font-size: 30rpx;
		line-height: 25rpx;
		color: #000000;
	}
	
	.top-desc .top-list {
		width: 288px;
		border: 1px solid #000;
		box-sizing: border-box;
		text-align: center;
		flex-shrink: 0;
		background: #ffc000;
	}
	
	.top-desc .top-list .key {
		color: #000;
		font-weight: bold;
		line-height: 30rpx;
	}
	
	.top-desc .top-list .red {
		color: #ff2500;
	}
	
	.top-desc .top-list .center-masker {
		width: 287px;
		height: 10rpx;
		box-sizing: border-box;
		border: 1px solid #000;
	}
	.top-desc .top-list .center-masker:last-child{
		/* border-right: 1px solid #000; */
	}
	.top-desc .listClassify {
		display: flex;
		justify-content: space-between;
		border-top: 1px solid #000;
		font-size: 26rpx;
	}
	
	.top-desc .listClassify text {
		width: 72px;
		text-align: center;
		border-right: 1px solid #000;
		box-sizing: border-box;
		line-height: 30rpx;
	}
	
	.top-desc .listClassify text:last-child {
		border-right: none;
	}
	
	/* .center-mask {
		height: 10rpx;
		background: transparent;
		border-left: 1px solid #000;
		border-right: 1px solid #000;
	} */
	
	.bottom-desc {
		display: flex;
		flex-wrap: nowrap;
		font-size: 30rpx;
	}
	
	.bottom-desc .top-list {
		width: 268.13px;
		border: 1px solid #000;
		box-sizing: border-box;
		text-align: center;
		flex-shrink: 0;
		background: #ffc000;
	}
	
	.bottom-desc .top-list .key {
		color: #000;
		font-weight: bold;
		line-height: 30rpx;
	}
	
	.bottom-desc .top-list .red {
		color: #ff2500;
	}
	
	.bottom-desc .top-list .center-masker {
		width: 267.13px;
		height: 10rpx;
		border: 1px solid #000;
		box-sizing: border-box;
	}
	
	.bottom-desc .listClassify {
		display: flex;
		justify-content: space-between;
		border-top: 1px solid #000;
		font-size: 26rpx;
	}
	
	.bottom-desc .listClassify text {
		width: 67px;
		text-align: center;
		border-right: 1px solid #000;
		box-sizing: border-box;
		line-height: 30rpx;
	}
	
	.bottom-desc .listClassify text:last-child {
		border-right: none;
	}
	
</style>
