<template>
	<view class="login">
		<view class="deng">登录</view>
		<!-- <view class="more">登录享受更多功能</view> -->
		<view class="form">
			<form @submit="login">
				<view class="phone">
					<input type="text" v-model="phone" name="phone" placeholder="手机号" />
				</view>
				<view class="yanzheng">
					<input type="text" v-model="num" name="num" placeholder="验证码" />
					<view class="send" @tap="yanzheng()" v-if="countflag">发送验证码</view>
					<view class="count-down" v-else>{{count}} s后重新发送 </view>
				</view>
				<button form-type="submit" class="btn">登录</button>
			</form>
		</view>
	</view>
</template>

<script>
	import {
		debounce
	} from "../static/debounce.js"
	export default {
		data() {
			return {
				flag: true,
				phone: "",
				num: '',
				count: 60,
				countflag: true,
				onoff: true
			}
		},
		methods: {
			//发送验证码
			yanzheng() {
				const reg = /^1\d{10}$/
				if (this.phone == '') {
					uni.showToast({
						title: "手机号不能为空",
						icon: "none"
					})
					return false;
				}
				let timer = null

				uni.request({
					url: "http://lbc.maohemao.cn/api/sms/send_sms",
					method: "POST",
					data: {
						phone: this.phone,
					},
					success: (res) => {
						// console.log(res)
						uni.showToast({
							title: res.data.msg,
							icon: "none"
						})
						if (res.data.status == true) {
							this.countflag = false
							timer = setInterval(() => {
								this.count--;
								if (this.count <= 0) {
									clearInterval(timer);
									this.countflag = true
									this.count = 60
								}
							}, 1000)
						}


					},
					fail(err) {
						uni.showToast({
							title: res.data.msg,
							icon: "none"
						})
					}
				})
			},
			//登录
			login: debounce(function(e) {
				if (this.phone == '') {
					uni.showToast({
						title: "手机号不能为空",
						icon: "none"
					})
					return false;
				} else if (this.num == "") {
					uni.showToast({
						title: "请输入验证码",
						icon: "none"
					})
					return false;
				}
				uni.request({
					url: "http://lbc.maohemao.cn/api/sms/login",
					method: "POST",
					data: {
						phone: e.detail.value.phone,
						sms: e.detail.value.num
					},
					success: (res) => {
						// console.log(res)
						uni.showToast({
							title: res.data.msg,
							icon: "none"
						})
						if (res.statusCode == 200) {
							if (res.data.code == 10000) {
								uni.setStorageSync("token", res.data.data.access_token)
								this.$forceUpdate()
								setTimeout(() => {
									uni.redirectTo({
										url: "../webIndex/webIndex",
										animationType: 'pop-in',
										animationDuration: 200
									})
								}, 2000)
							}
						}
					},
					fail(err) {
						uni.showToast({
							title:"系统错误，请联系客服",
							icon:"none"
						})
					}
				})
			}, 2000, true)


		},
		onLoad() {
			this.onoff = true
		}
		// onBackPress(e) {
		// 	if (e.from == 'backbutton') {
		// 		//安卓下物理返回键无效
		// 		return true;
		// 	}
		// },
	}
</script>

<style>
	.login {
		width: 100%;
		height: 100vh;
		padding: 40rpx;
		box-sizing: border-box;
		background-size: cover;
		background: #fff;
		color: #000;
	}

	.deng {
		margin-top: 100rpx;
		font-size: 50rpx;
		font-weight: 600;
		color: #a10600;
	}

	.more {
		font-size: 24rpx;
		line-height: 70rpx;
	}

	.form {
		margin-top: 250rpx;
	}

	.phone,
	.yanzheng {
		height: 70rpx;
		line-height: 70rpx;
		border-bottom: 4rpx solid #a10600;
		margin-bottom: 60rpx;
		padding: 0 20rpx;
		box-sizing: border-box;
	}

	.yanzheng {
		display: flex;
		justify-content: space-between;
	}

	.yanzheng .send {
		line-height: 70rpx;
		border: none;
		font-size: 26rpx;
	}

	.yanzheng .count-down {
		line-height: 70rpx;
		border: none;
		font-size: 26rpx;
	}

	.form input {
		height: 100%;
		border: none;
		/* color: #fff; */
	}

	.form input::-webkit-input-placeholder {
		color: #fff;
	}

	/* .uni-input-input, .uni-input-placeholder{
		color: #fff !important;
	} */

	.btn {
		width: 250rpx;
		border-radius: 50rpx;
		/* border: 1px solid #000; */
		margin-top: 100rpx;
		line-height: 80rpx;
		background: #a10600;
		color: #FFFFFF;
	}
</style>
