<template>
	<view class="mine">
		<view class="title">
			{{phone}}
		</view>
		<view class="mine-con">
			<view class="rules">
				<text class="tit">鲁班尺</text>
				<view v-if="free>0" class="use">
					免费使用 {{free}} 次
				</view>
				<view class="use" v-if="free==0 && is_member==2">
					0.1元 / 次
				</view>
				<view class="use" :style="is_member==1?'color: #a10600;':'color: #a10600; margin-left: 30rpx;'">
					{{is_member==1?'会员免费':'非会员'}}
				</view>
				<view class="vip" v-if="is_member==2" @click="toPay()">
					开通会员
				</view>
			</view>
			<!-- <view class="calendar">
				<text class="tit">万年历</text>
				<view class="use">
					1元 / 次
				</view>
			</view>
			<view class="fate">
				<text class="tit">八字</text>
				<view class="use">
					3元 / 次
				</view>
			</view> -->
		</view>
		<view class="toWebIndex" @tap="toWebIndex()">返 回</view>
	</view>
</template>

<script>
	export default {
		data() {
			return {
				free: 10,
				phone: "",
				is_member: 2
			}
		},
		methods: {
			//请求用户信息
			getInfo(){
				uni.request({
					url:"http://lbc.maohemao.cn/api/my/my",
					method:"POST",
					data:{
						// tel:uni.getStorageSync("phone"),
					},
					header: {
						'token':uni.getStorageSync("token")  //自定义请求头信息
					},
					success:(res)=>{
						// console.log(res)
						if(res.statusCode==200){
							if(res.data.code==1){
								this.free=res.data.data.free
								this.is_member=res.data.data.is_member
								this.phone=res.data.data.tel
							}
						}
					},
					fail(err){
						uni.showToast({
							title:"系统错误，请联系客服",
							icon:"none"
						})
					}
				})
				
			},
			//返回首页
			toWebIndex() {
				uni.navigateBack({
					delta: 1,
					animationType: 'pop-out',
					animationDuration: 200
				})
			},
			toPay(){
				uni.navigateTo({
					url:"/pages/pay/pay",
					animationType: 'pop-in',
					animationDuration: 200
				})
			}

		},
		onLoad() {
			// this.phone = uni.getStorageSync("phone")
		},
		onShow() {
			this.getInfo()
		}
	}
</script>

<style>
	.mine {
		width: 100%;
		height: 100vh;
		/* background: #e5e5e5; */
	}

	.title {
		width: 100%;
		height: 300rpx;
		background: #a10600;
		color: #FFFFFF;
		padding-bottom: 60rpx;
		box-sizing: border-box;
		display: flex;
		justify-content: center;
		align-items: flex-end;
		font-size: 38rpx;
	}

	.mine-con {
		width: 100%;
		background: #FFFFFF;
		width: 90%;
		margin: 30rpx auto;
		border-radius: 10rpx;
		padding: 20rpx 0;
		box-sizing: border-box;
		box-shadow: -1px 1px 5px #ccc;
	}

	.mine-con>view {
		
		padding: 0rpx 30rpx;
		box-sizing: border-box;
		/* border-bottom: 1px solid #ccc; */
		font-size: 28rpx;
		height: 80rpx;
		display: flex;
		align-items: center;
		/* line-height: 80rpx;
	align-items: center; */
	}

	.mine-con .tit {
		width: 150rpx;
		font-size: 32rpx;
	}

	/* .mine-con .use {
		text-align: center;
	} */

	.toWebIndex {
		width: 50rpx;
		height: 150rpx;
		line-height: 50rpx;
		background: #000;
		color: #FFFFFF;
		text-align: center;
		font-size: 28rpx;
		position: fixed;
		left: 0;
		bottom: 70rpx;
		-webkit-writing-mode: vertical-rl;
		writing-mode: vertical-rl;
		border-radius: 0 30rpx 30rpx 0;
	}
	.vip{
		width: 150rpx;
		height: 50rpx;
		background: #a10600;
		color: #FFFFFF;
		margin-left: 20rpx;
		border-radius: 6rpx;
		text-align: center;
		line-height: 50rpx;
	}
</style>
