<script>
	export default {
		onLaunch: function() {
			// plus.navigator.closeSplashscreen();  //关闭启动进入首页
		},
		onShow: function() {
			// console.log('App Show')
		},
		onHide: function() {
			// console.log('App Hide')
		}
	}
</script>

<style>
	
</style>
  