<template>
	<!-- 加载动画 -->
	<view class="load" v-if="change">
		<image src="../../static/images/lu.png" mode=""></image>
	</view>
	<view class="rules" v-else>
		<!-- <textscroll :text="textList"></textscroll> -->
		<view class="sidebar-swiper">
			<swiper :autoplay="true" :interval="5000" :duration="4000" :vertical="true" :circular="true" :acceleration="true"
			 easing-function="linear">
				<swiper-item v-for="(item,index) in swiperList" :key="index">
					<view class="swiper-item">{{item}}</view>
				</swiper-item>
			</swiper>
		</view>


		<!-- 尺子 -->
		<view class="main">
			<view class="rule-name">
				<image src="../../static/images/ming.png" class="img1" v-show="flag"></image>
				<image src="../../static/images/tai.png" class="img2" v-show="flag"></image>
				<image src="../../static/images/ding-size.png" class="img3" v-show="!flag"></image>
			</view>
			<scroll-view class="contain" scroll-x="true" @scroll="scroll" :scroll-left="scrollLeft">
				<view class="box">
					<view class="left-text">福地福人居，福人居福地</view>
					<view class="right-text">若刻度尺长度不足，请以查询结果为准</view>
					<!-- 鲁班尺 -->
					<!-- 尺子 -->
					<view class="top-rule">
						<view v-for="(item,index) in maxscale" :key="index">
							<view></view>
							<text v-if="index%5==0">{{index*0.2}}</text>
						</view>
					</view>
					<view class="yang" v-if="flag">
						<!-- 描述 -->
						<view class="top-desc" :style="{'width':maxscale*10+'px','overflow':'hidden'}">
							<test :text="yangList" :same="'top'"></test>
						</view>
						<view class="bottom-desc" :style="{'width':maxscale*10+'px','overflow':'hidden'}">
							<test :text="yangList" :same="'bottom'"></test>
						</view>
					</view>
					<!-- 丁兰尺 -->
					<view class="yin" v-else>
						<!-- 描述 -->
						<view class="yin-desc" :style="{'width':maxscale*10+'px','overflow':'hidden'}">
							<view class="yin-list" v-for="(item,index) in yinList" :key="index">
								<view :class="['key',item.type=='y'?'red':'']">{{item.name}}</view>
								<view class="center-masker" :style="item.type=='y'?'background:red':'background:black'"></view>
								<view :class="['listClassify',item.type=='y'?'red':'']">
									<text v-for="(_item,_index) in item.desc" :key="_index">{{_item}}</text>
								</view>
							</view>
						</view>
					</view>
				</view>
			</scroll-view>
		</view>
		<!-- 点击查询 -->
		<view class="search">
			<view class="inp">
				<input type="number" v-model="searchNum" @confirm="search()" class="input" />
				<text style="font-size: 35rpx;" class="unit">公分</text>
			</view>
			<view class="btn" @tap="btn==true?search():''">点击查询</view>
		</view>
		<!-- 查询结果 -->
		<view class="search-result">
			<!-- 鲁班尺 -->
			<view class="result-desc" v-if="flag">
				<view class="title">
					<text>明清官尺</text>
					<image src="../../static/images/mingsize.png" mode=""></image>
				</view>
				<view class="info">
					<view class="info-item" v-if="infoList.bfo">
						<view :class="['name',infoList.bfo.status==1?'red':'black']">{{infoList.bfo.name}}</view>
						<view class="content">
							{{infoList.bfo.content}}
						</view>
					</view>
					<view class="info-item" v-if="infoList.sfo">
						<view :class="['name small',infoList.sfo.status==1?'red':'black']">{{infoList.sfo.name}}</view>
						<view class="content">
							{{infoList.sfo.content}}
						</view>
					</view>
				</view>
			</view>
			<!-- 丁兰尺 -->
			<view class="result-desc" v-if="!flag">
				<view :class="['name',infoList.bfo.status==1?'red':'black']" style="line-height: 80rpx;" v-if="infoList.bfo">{{infoList.bfo.name}}</view>
				<view class="ding-content" v-if="infoList.bfo">
					{{infoList.bfo.content}}
				</view>
			</view>

			<!-- logo -->
			<view class="logo-change">
				<view>
					<image src="../../static/images/lu.png" :class="flag?'nomal':'pos'" @click="logoChange()" v-show="flag"></image>
					<image src="../../static/images/dingblack.png" :class="!flag?'nomal':'pos'" @click="logoChange()" v-show="flag"></image>
					<image src="../../static/images/lublack.png" :class="flag?'nomal':'pos'" @click="logoChange()" v-show="!flag"></image>
					<image src="../../static/images/ding.png" :class="!flag?'nomal':'pos'" @click="logoChange()" v-show="!flag"></image>
				</view>
			</view>
			<!-- 鲁班尺 -->
			<view class="result-desc" v-if="flag">
				<view class="title">
					<text>台日民尺</text>
					<image src="../../static/images/taisize.png" mode=""></image>
				</view>
				<view class="info">
					<view class="info-item" v-if="infoList.bft">
						<view :class="['name',infoList.bft.status==1?'red':'black']"> {{infoList.bft.name}}</view>
						<view class="content">
							{{infoList.bft.content}}
						</view>
					</view>
					<view class="info-item" v-if="infoList.sft">
						<view :class="['name small',infoList.sft.status==1?'red':'black']">{{infoList.sft.name}}</view>
						<view class="content">
							{{infoList.sft.content}}
						</view>
					</view>

				</view>
			</view>
			<!-- 丁兰尺 -->
			<view class="result-desc" v-if="!flag">
				<view :class="['name small',infoList.sfo.status==1?'red':'black']" style="line-height: 80rpx;" v-if="infoList.sfo">{{infoList.sfo.name}}</view>
				<view class="ding-content" v-if="infoList.sfo">
					{{infoList.sfo.content}}
				</view>
			</view>
			<!-- 提示信息 -->
			<!-- <view class="prompt">
				若刻度尺长度不足，请以查询结果为准。
			</view> -->
		</view>

		<!-- 底部logo -->
		<view class="bottom">
			<image src="../../static/images/logo.png" mode="" @tap="toWeb"></image>
		</view>
		<!-- 三角形 -->
		<view class="pointer"></view>
		<!-- 指示线 -->
		<view class="mask"></view>
		<view class="toWebIndex" @tap="toWebIndex()">返 回</view>
	</view>
</template>
<script>
	import test from "../../components/test/test.vue"
	export default {
		components: {
			test
		},
		data() {
			return {
				maxscale: 4000,
				scrollNum: 0, //滚动条长度
				searchNum: 0, //查询输入框
				scrollLeft: 0, //滚动条
				unit: "公分", //单位
				infoList: {},
				flag: true, //鲁班尺丁兰尺转换
				yangList: [],
				yinList: [],
				change: true,
				swiperList: ["福厚之地，雍容不迫，四合周顾，辨其主客。山欲其凝，水欲其澄。山来水回，逼贵丰财。——《青乌先生葬经》", " 阴阳合符，天地交通。内气萌生，外气成形。内外相乘，风水自成。——《青乌先生葬经》",
					"人因宅而立，宅因人而存，人宅相扶，感通天地，故不可独信命也。——摘自《黄帝宅经》", "地有四势，气从八方。外气行形，内气止生。乘风则散，界水则止。 --《青囊经》", " 室大多阴，台高多阳。--《吕氏春秋》",
					"宅大人少，一虚；门大内小，二虚；墙院不完，三虚；井灶不处，四虚； 宅地多屋少庭院广，五虚。",
					"宅小人多，一实；宅大门小，二实；墙院完全，三实；宅小六畜多，四实； 宅水沟东南流，五实。--《黄帝宅经》"
				],
				is_member: 2, //会员
				btn: true   //禁止多次点击
			}
		},
		methods: {
			//获取指针值
			scroll(e) {
				this.scrollNum = (e.detail.scrollLeft / 50).toFixed(2);
				// console.log(this.scrollNum)
				if (this.scrollNum < 800) {
					this.searchNum = this.scrollNum
				}
			},
			//点击查询尺寸
			search() {
				this.btn = false
				uni.request({
					url: "http://lbc.maohemao.cn/api/lbc/userinfo",
					method: "POST",
					data: {
						// tel: uni.getStorageSync("phone")
					},
					header: {
						'token': uni.getStorageSync("token") //自定义请求头信息
					},
					success: (res) => {
						uni.showToast({
							title: res.data.msg,
							icon: "none",
							duration: 3000
						})
						this.is_member = res.data.code;
						this.$forceUpdate()
						if (res.data.code == 1 || res.data.code == 4) {
							const reg = /^\d+(\.\d{1,2})?$/;
							if (reg.test(this.searchNum)) {
								uni.request({
									url: this.flag ? 'http://lbc.maohemao.cn/api/lbc/index' : 'http://lbc.maohemao.cn/api/lbc/dinglan', //接口地址。
									data: {
										size: this.searchNum,
										// tel: uni.getStorageSync("phone")
									},
									header: {
										'token': uni.getStorageSync("token") //自定义请求头信息
									},
									success: (res) => {
										this.infoList = res.data
										this.scrollLeft = this.searchNum * 50
										uni.removeStorageSync("pay")
										this.btn = true



									},
									fail() {
										uni.showToast({
											title: "请检查您网络",
											icon: "none"
										})
									}
								});
							} else {
								uni.showToast({
									title: "请输入精度为两位小数以内的正数!请重新输入",
									icon: "none"
								})
								// this.searchNum = this.searchNum
							}
						} else {
							setTimeout(() => {
								uni.navigateTo({
									url: "../pay/pay",
									animationType: 'pop-in',
									animationDuration: 200
								})
							}, 10)

						}
					},
					fail() {
						console.log(err)
					}
				})

			},
			//鲁班尺与丁兰尺转换
			logoChange() {
				const reg = /^\d+(\.\d{1,2})?$/;
				if (reg.test(this.searchNum)) {
					this.flag = !this.flag
				} else {
					uni.showToast({
						title: "请输入精度为两位小数以内的正数!请重新输入",
						icon: "none"
					})
				}
			},
			//跳转到官网
			toWeb() {
				uni.showToast({
					title: "即将跳转到卯合卯官方网站",
					icon: "none",
					duration: 2000
				})
				setTimeout(() => {
					plus.runtime.openURL('http://maohemao.cn/');
					// uni.navigateTo({
					// 	url: "../web/web"
					// })
				}, 2000)
			},
			//返回首页
			toWebIndex() {
				uni.navigateBack({
					delta: 1,
					animationType: 'pop-out',
					animationDuration: 200
				})
			},

		},
		mounted() {
			this.$nextTick(() => {
				this.change = false
				// this.search()
			})
		},
		onShow() {
			if (uni.getStorageSync("pay")) {
				uni.request({
					url: this.flag ? 'http://lbc.maohemao.cn/api/lbc/index' : 'http://lbc.maohemao.cn/api/lbc/dinglan', //接口地址。
					data: {
						size: this.searchNum,
						// tel: uni.getStorageSync("phone")
					},
					header: {
						'token': uni.getStorageSync("token") //自定义请求头信息
					},
					success: (res) => {
						this.infoList = res.data
						this.scrollLeft = this.searchNum * 50
						uni.removeStorageSync("pay")
					},
					fail() {
						uni.showToast({
							title: "系统错误，请联系客服",
							icon: "none"
						})
					}
				});
			}
		},
		watch: {
			flag(newVal) {
				this.infoList = {}
			},
		},
		created() {
			setTimeout(() => {
				const n = parseInt(this.maxscale * 2 / 429)
				for (let i = 0; i <= n; i++) {
					this.yangList.push({
						"name": "财",
						"desc": ["财德", "宝库", "六合", "迎福"],
						"type": "y"
					}, {
						"name": "病",
						"desc": ["退财", "公事", "劳执", "孤寡"],
						"type": "n"
					}, {
						"name": "离",
						"desc": ["长库", "劫财", "官鬼", "失脱"],
						"type": "n"
					}, {
						"name": "益",
						"desc": ["添丁", "益利", "贵子", "大吉"],
						"type": "y"
					}, {
						"name": "官",
						"desc": ["顺科", "横财", "进益", "富贵"],
						"type": "y"
					}, {
						"name": "劫",
						"desc": ["死别", "退口", "离乡", "财失"],
						"type": "n"
					}, {
						"name": "害",
						"desc": ["灾至", "死绝", "病临", "口舌"],
						"type": "n"
					}, {
						"name": "本",
						"desc": ["财至", "登科", "进宝", "兴旺"],
						"type": "y"
					})
				}
				const y = parseInt(this.maxscale * 2 / 390)
				for (let i = 0; i <= y; i++) {
					this.yinList.push({
						"name": "丁",
						"desc": ["福星", "及第", "财旺", "登科"],
						"type": "y"
					}, {
						"name": "害",
						"desc": ["口舌", "病临", "死绝", "灾至"],
						"type": "n"
					}, {
						"name": "旺",
						"desc": ["天德", "喜事", "进宝", "纳福"],
						"type": "y"
					}, {
						"name": "苦",
						"desc": ["失脱", "官鬼", "劫财", "无嗣"],
						"type": "n"
					}, {
						"name": "义",
						"desc": ["大吉", "财旺", "益利", "天库"],
						"type": "y"
					}, {
						"name": "官",
						"desc": ["富贵", "进宝", "横财", "顺科"],
						"type": "y"
					}, {
						"name": "死",
						"desc": ["离乡", "死别", "退丁", "失财"],
						"type": "n"
					}, {
						"name": "兴",
						"desc": ["登科", "贵子", "添丁", "兴旺"],
						"type": "y"
					}, {
						"name": "失",
						"desc": ["孤寡", "牢执", "公事", "退财"],
						"type": "n"
					}, {
						"name": "财",
						"desc": ["迎福", "六合", "进宝", "财德"],
						"type": "y"
					})
				}
			}, 400)
		}
	}
</script>
<style>
	.load {
		width: 100%;
		height: 100vh;
		position: fixed;
		top: 0;
		left: 0;
		background: url(../../static/images/bg1.jpg);
		background-size: 100% 100%;
		display: flex;
		justify-content: center;
		align-items: center;
	}

	.load image {
		width: 70rpx;
		height: 240rpx;
		display: block;
		padding: 40rpx 20rpx;
		border: 8rpx solid #ffc000;
		animation: sk-opcityplane 3s linear infinite;
	}


	@keyframes sk-opcityplane {
		0% {
			opacity: 1;
		}

		25% {
			opacity: 0.2;
		}

		50% {
			opacity: 1;
		}

		75% {
			opacity: 0.2;
		}

		100% {
			opacity: 1;
		}
	}

	.rules {
		width: 100%;
		height: 100vh;
		background-image: url("/static/images/bg.jpg");
		background-size: 100% 100%;
		padding: 20rpx 0;
		box-sizing: border-box;
		font-size: 24rpx;
		display: flex;
		flex-direction: column;
		overflow: hidden;
		background-color: #a10600;
	}

	.sidebar-swiper {
		position: fixed;
		top: 0;
		right: 0;
		margin: 0 auto;
		padding: 40rpx 0;
		box-sizing: border-box;
		width: 50rpx;
		height: 100%;
		line-height: 50rpx;
		background: rgba(0, 0, 0, 0.3);
		font-size: 24rpx;
		color: #fff;

	}

	.sidebar-swiper2 {
		position: fixed;
		top: 0;
		right: 0;
		margin: 0 auto;
		padding: 20rpx 0;
		box-sizing: border-box;
		width: 50rpx;
		height: 100%;
		line-height: 50rpx;
		background: rgba(0, 0, 0, 0.3);
		font-size: 24rpx;
		color: #fff;
	}

	uni-swiper {
		height: 100% !important;
	}

	.uni-swiper {
		height: 100% !important;
	}

	.swiper-item {
		width: 50rpx;
		height: 100%;
		line-height: 50rpx;
		-webkit-writing-mode: vertical-rl;
		writing-mode: vertical-rl;
	}

	.main {
		width: 610rpx;
		height: 190rpx;
		border: 2px solid #ffc000;
		margin: 110rpx auto 10rpx;
		box-sizing: border-box;
		display: flex;

	}

	.rule-name {
		width: 90rpx;
		margin: 0 5rpx;
	}

	.rule-name>image {
		width: 100%;
		height: 80rpx;
		display: block;
	}

	.rule-name>.img1 {
		margin-top: 10rpx;
	}

	.rule-name>.img2 {
		margin-top: 10rpx;
	}

	.rule-name>.img3 {
		height: 100%;
		padding: 10rpx 0;
		box-sizing: border-box;
	}

	.contain {
		flex: 1;
		width: 80%;
		background: #a10600;
	}

	.box {
		display: inline-block;
		box-sizing: border-box;
		margin-left: 208rpx;
		margin-right: 300rpx;
		position: relative;
		z-index: 2;
	}

	.left-text {
		width: 206rpx;
		height: 100%;
		position: absolute;
		top: 0;
		left: -206rpx;
		display: flex;
		justify-content: center;
		align-items: center;
		padding: 20rpx;
		box-sizing: border-box;
		text-overflow: ellipsis;
		word-wrap: break-word;
		font-size: 35rpx;
		color: #FFFFFF;
		/* text-indent: 2em; */
	}

	.right-text {
		width: 300rpx;
		height: 100%;
		position: absolute;
		top: 0;
		right: -300rpx;
		display: flex;
		justify-content: center;
		align-items: center;
		padding: 20rpx;
		box-sizing: border-box;
		text-overflow: ellipsis;
		word-wrap: break-word;
		/* text-indent: 2em; */
		font-size: 28rpx;
		color: #FFFFFF;
	}

	.pointer {
		position: fixed;
		top: 110rpx;
		left: 50%;
		margin-left: -20rpx;
		border-width: 20rpx;
		border-style: solid;
		border-color: #f9c23c transparent transparent transparent;
	}

	.mask {
		width: 1rpx;
		height: 190rpx;
		background: #f9c23c;
		position: fixed;
		top: 124rpx;
		left: 50%;
		z-index: 20;
	}


	.top-rule {
		height: 40rpx;
		display: flex;
		position: relative;
		z-index: 2;
		font-size: 14px;
	}

	.top-rule>view {
		width: 1px;
		padding-right: 10px;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		align-items: center;
		box-sizing: border-box;
		font-size: 18rpx;
	}

	.top-rule>view>view {
		width: 1px;
		text-align: center;
		height: 10rpx;
		background: #000;
	}

	.top-rule>view:nth-child(5n+1)>view {
		height: 18rpx;
	}

	.top-rule>view:nth-child(10n+1)>view {
		height: 25rpx;
	}


	.yin-desc {
		display: flex;
		flex-wrap: nowrap;
		/* font-size: 28rpx; */
	}

	.yin-desc .yin-list {
		width: 195px;
		border: 1px solid #000;
		box-sizing: border-box;
		text-align: center;
		flex-shrink: 0;
		background: #ffc000;
	}

	.yin-desc .yin-list .key {
		color: #000;
		font-weight: bold;
		line-height: 60rpx;
		font-size: 46rpx;
	}

	.yin-desc .yin-list .center-masker {
		width: 194px;
		height: 20rpx;
		border: 1px solid #000;
		box-sizing: border-box;
	}

	.yin-desc .listClassify {
		display: flex;
		justify-content: space-between;
		border-top: 1px solid #000;
		font-size: 28rpx;
	}

	.yin-desc .yin-list .red {
		color: #ff2500;
	}

	.yin-desc .listClassify text {
		width: 48.75px;
		text-align: center;
		border-right: 1px solid #000;
		box-sizing: border-box;
		line-height: 60rpx;
	}


	.yin-desc .listClassify text:last-child {
		border-right: none;
	}

	.search {
		width: 100%;
		display: flex;
		justify-content: center;
	}

	.inp {
		width: 45%;
		line-height: 70rpx;
		height: 70rpx;
		border-radius: 3px;
		background: rgba(0, 0, 0, 0.3);
		display: flex;
		justify-content: space-between;
		border: none;
	}

	.inp .input {
		flex: 1;
		height: 70rpx;
		min-height: 70rpx;
		text-align: center;
		line-height: 70rpx;
		font-size: 50rpx;
		color: #FFFFFF;
	}

	.inp .unit {
		width: 80rpx;
		background: #ffc000;
		text-align: center;
		border-radius: 0 3px 3px 0;
		opacity: 0.6;
	}

	.btn {
		width: 200rpx;
		height: 70rpx;
		background: rgba(135, 24, 3, 0.8);
		border: 3rpx solid #4c0b00;
		text-align: center;
		font-size: 40rpx;
		line-height: 70rpx;
		display: inline-block;
		margin-left: 20rpx;
		border-radius: 5rpx;
		color: #fff;
		box-sizing: border-box;
	}

	.search-result {
		width: 610rpx;
		margin: 10rpx auto 20rpx;
		display: flex;
		flex: 1;
		border: 2px solid #ffc000;
		position: relative;
	}

	.logo-change {
		width: 80rpx;
		position: relative;
	}

	.logo-change view {
		border: 6rpx solid rgba(255, 192, 0, 0.7);
		position: absolute;
		bottom: 20rpx;
		left: -30rpx;
		padding: 20rpx 15rpx 40rpx 15rpx;
		box-sizing: border-box;
		z-index: 10;
	}

	/* .logo-change view:before{
		content: "";
		width: 20rpx;
		height: 300%;
		 background: linear-gradient(bottom, rgba(255, 255, 85, 1) 0%, rgba(250, 220, 178, 1) 50%, rgba(197, 197, 197, 0) 90%);
		position: absolute;
		left: 50%;
		bottom: 0;
		transform: translateX(-50%);
		z-index: 0;
	} */
	.logo-change image {
		width: 70rpx;
		height: 240rpx;
		display: block;
	}

	.logo-change .nomal {
		/* position: absolute; */
		/* right: 10rpx; */
		/* bottom: 50rpx; */
		z-index: 10;
	}

	.logo-change .pos {
		position: absolute;
		right: 5rpx;
		bottom: 10rpx;
		opacity: 0.5;
	}

	.result-desc {
		flex: 1;
		display: flex;
		flex-direction: column;
	}

	.title {
		width: 100%;
		text-align: center;
		line-height: 40rpx;
		font-size: 22rpx;
		font-weight: 700;
		color: #FFFFFF;
		-webkit-text-stroke: 0.3px #ffc000;
		margin-bottom: 10rpx;
	}

	.title image {
		width: 50%;
		height: 25rpx;
		display: block;
		margin: 0 auto;
	}

	.info {
		width: 100%;
		flex: 1;
		display: flex;
		justify-content: space-between;
	}

	.info-item {
		width: 48%;
		display: flex;
		flex-direction: column;

	}

	.result-desc .name {
		width: 100%;
		text-align: center;
		font-size: 70rpx;
		line-height: 70rpx;
		color: #fff;
		font-weight: 700;
	}

	.result-desc .small {
		font-size: 40rpx;
		/* line-height: 50rpx; */
	}

	.result-desc .red {
		color: red;
		-webkit-text-stroke: 1px #ffc000;
	}

	.result-desc .black {
		color: black;
		/* -webkit-text-stroke: 1px #000; */
	}

	.info-item .content {
		width: 100%;
		height: 100%;
		flex: 1;
		display: flex;
		align-items: center;
		margin: 0 auto;
		writing-mode: vertical-lr;
		writing-mode: tb-lr;
		line-height: 40rpx;
		font-size: 35rpx;
		color: #FFFFFF;
		padding-top: 15rpx;
		padding-bottom: 40rpx;
		box-sizing: border-box;
	}

	.ding-content {
		width: 100%;
		height: 100%;
		flex: 1;
		display: flex;
		align-items: center;
		margin: 0 auto;
		writing-mode: vertical-lr;
		writing-mode: tb-lr;
		line-height: 40rpx;
		font-size: 35rpx;
		color: #FFFFFF;
		padding-top: 20rpx;
		padding-bottom: 40rpx;
		box-sizing: border-box;
	}


	.bottom {
		width: 100%;
	}

	.bottom image {
		width: 200rpx;
		height: 80rpx;
		margin: 0 auto;
		display: block;
	}

	.prompt {
		width: 100%;
		color: #f5ef95;
		font-size: 20rpx;
		line-height: 30rpx;
		text-align: center;
		position: absolute;
		bottom: 0;
		left: 0;
	}

	.toWebIndex {
		width: 50rpx;
		height: 150rpx;
		line-height: 50rpx;
		background: #000;
		color: #FFFFFF;
		text-align: center;
		font-size: 28rpx;
		position: fixed;
		left: 0;
		bottom: 70rpx;
		-webkit-writing-mode: vertical-rl;
		writing-mode: vertical-rl;
		border-radius: 0 30rpx 30rpx 0;
	}
</style>
