<template>
	<view class="webindex">
		<!-- logo -->
		<view class="logo">
			<image src="../../static/images/logo2.png" mode=""></image>
		</view>
		<!-- 轮播图 -->
		<view class="banner">
			<swiper :indicator-dots="true" :autoplay="true" :interval="3000" :duration="1000" :circular="true">
				<swiper-item v-for="item in bannerLists" :key="item.id">
					<image :src="item.src" mode=""></image>
				</swiper-item>
			</swiper>
		</view>
		<!-- 设计风格 -->
		<view class="design-style">
			<view class="style-item">
				<image src="../../static/images/01.jpg" mode=""></image>
				<text>设计新颖</text>
			</view>
			<view class="style-item">
				<image src="../../static/images/02.jpg" mode=""></image>
				<text>健康环保</text>
			</view>
			<view class="style-item">
				<image src="../../static/images/03.jpg" mode=""></image>
				<text>性价比高</text>
			</view>
			<view class="style-item">
				<image src="../../static/images/04.jpg" mode=""></image>
				<text>品牌打造</text>
			</view>
			<view class="style-item">
				<image src="../../static/images/06.jpg" mode=""></image>
				<text>时尚美观</text>
			</view>
			<view class="style-item">
				<image src="../../static/images/05.jpg" mode=""></image>
				<text>一站式整装</text>
			</view>
			
		</view>
		<!-- 设计流程 -->
		<view class="step">
			<view class="step-title">
				<view class="h2">服务流程</view>
				<view class="p">标准化精心服务，品质保证高端体验</view>
			</view>
			<view class="step-lists">
				<view class="step-item">
					<view class="img">
						<image src="../../static/images/icon01.png" mode=""></image>
					</view>
					<text>装修咨询</text>
				</view>
				<view class="step-item">
					<view class="img">
						<image src="../../static/images/icon02.png" mode=""></image>
					</view>
					<text>设计测量</text>
				</view>
				<view class="step-item">
					<view class="img">
						<image src="../../static/images/icon03.png" mode=""></image>
					</view>
					<text>签订设计协议</text>
				</view>
				<view class="step-item">
					<view class="img">
						<image src="../../static/images/icon04.png" mode=""></image>
					</view>
					<text>效果图预览</text>
				</view>
				<view class="step-item">
					<view class="img">
						<image src="../../static/images/icon05.png" mode=""></image>
					</view>
					<text>签订装修合同</text>
				</view>
				<view class="step-item">
					<view class="img">
						<image src="../../static/images/icon06.png" mode=""></image>
					</view>
					<text>工程施工</text>
				</view>
				<view class="step-item">
					<view class="img">
						<image src="../../static/images/icon07.png" mode=""></image>
					</view>
					<text>验收安装</text>
				</view>
				<view class="step-item">
					<view class="img">
						<image src="../../static/images/icon08.png" mode=""></image>
					</view>
					<text>售后服务</text>
				</view>
			</view>
		</view>
		<!-- 友情链接 -->
		<view class="link">
			<view class="link-title">友情链接</view>
			<view class="link-item">
				<text @tap="toweb(0)">卯合卯科技</text>
				<text @tap="toweb(1)">卯合卯建筑装饰企业官网</text>
				<text @tap="toweb(2)">卯合卯装饰</text>
			</view>
		</view>
		<!-- 底部信息 -->
		<view class="footer">
			<view class="footer-logo">
				<image src="../../static/images/logo1.png" mode=""></image>
			</view>
			<view class="footer-link">
				<text>北京卯合卯建筑装饰工程设计有限责任公司</text>
				<text>联系电话：010-67765605</text>
				<text>手机号1：18610466388</text>
				<text>手机号2：18610794808</text>
				<text>公司地址：北京市朝阳区王四营观音堂398号院内东向11号</text>
			</view>
			<view class="footer-input">
				<text>在线预约尊享贵宾体验</text>
				<input type="text" placeholder="姓名" name="name" v-model="name">
				<input type="text" placeholder="联系电话" name="tel" v-model="tel">
				<button class="footer-but" @tap="formSubmit()">提交</button>
			</view>
			<view class="footer-ewm">
				<view style="margin-right: 30rpx;">
					<view class="footer-img">
						<image src="../../static/images/erw02.jpg" mode=""></image>
					</view>
					<view class="footer-span">
						<text>关注卯合卯公众号</text>
					</view>
				</view>
				<view>
					<view class="footer-img">
						<image src="../../static/images/wx.jpg" mode=""></image>
					</view>
					<view class="footer-span">
						<text>卯合卯微信小程序</text>
					</view>
				</view>
			</view>
		</view>
		<view class="footer-bottom">
			<view>Copyright © 2019 北京卯合卯建筑装饰工程设计有限责任公司 版权所有 京ICP备19022700号-2</view>
			<view>技术支持：北京卯合卯科技</view>
		</view>
		
		<view class="enter-rule" @tap="toIndex()">使用鲁班尺</view>
	</view>
</template>

<script>
	export default {
		data() {
			return {
				bannerLists:"",
				name:"",
				tel:""
			}
		},
		methods: {
			//轮播图
			banner(){
				uni.request({
					url:"http://maohemao.cn/api/lbc/get_banner",
					success:(res) =>{
						this.bannerLists=res.data
					},
					fail(err) {
						console.log(err)
					}
				})
			},
			//表单提交
			formSubmit() {
				if(this.name=="" || this.tel==""){
					uni.showToast({
						title:"姓名和联系电话不能为空",
						icon:"none"
					})
				}else{
					const phone=/^1\d{10}$/
					if(phone.test(this.tel)){
						uni.request({
							url:"http://maohemao.cn/api/lbc/make",
							method:"post",
							header:{
								"Content-Type":"application/x-www-form-urlencoded"
							},
							data:{"name":this.name,"tel":this.tel},
							success:(res)=> {
								const msg=res.data.msg
								this.$forceUpdate()
								uni.showToast({
									title:msg,
									icon:"none"
								})
								this.name=""
								this.tel=""
								
							},
							fail(err) {
								console.log(err)
							}
						})
					}else{
						uni.showToast({
							title:"电话号码格式不正确",
							icon:"none"
						})
					}
					
				}
				
			},
			//跳转首页
			toIndex(){
				uni.navigateTo({
					url:"/pages/index/index",
					animationType: 'pop-in',
					animationDuration: 200
				})
			},
			//跳转到web页
			toweb(i){
				if(i==0){
					plus.runtime.openURL('https://www.maohemao.com/');
				}else if(i==1){
					plus.runtime.openURL('http://www.m-h-m.cn/');
				}else if(i==2){
					plus.runtime.openURL('http://www.maohemao.cn/');
				}
			}
			
		},
		created() {
			this.banner();
			this.$forceUpdate()
		},
		mounted(){
		}
	}
</script>

<style>
	.webindex {
		width: 100%;
		/* background:#f5f5f5; */
		padding-top: 60rpx;
	}

	.logo {
		width: 100%;
		background: #fff;
	}

	.logo image {
		width: 264rpx;
		height: 72rpx;
		display: block;
		padding: 30rpx 0;
		margin: 0 auto;
	}

	uni-swiper {
		width: 100%;
		height: 300rpx;
	}
    uni-swiper image{
		width: 100%;
		height: 100%;
	}
	.design-style {
		width: 100%;
		display: flex;
		flex-wrap: wrap;
		background: #fff;
		margin-bottom: 50rpx;
	}

	.style-item {
		width: 33%;
		display: flex;
		flex-direction: column;
		align-items: center;
		margin-top: 50rpx;
	}

	.style-item image {
		width: 114rpx;
		height: 114rpx;
		border-radius: 50%;
	}

	.style-item text {
		width: 100%;
		font-size: 26rpx;
		line-height: 28rpx;
		margin-top: 20rpx;
		text-align: center;
	}

	.step {
		width: 100%;
		height: 760rpx;
		background: url(../../static/images/step.jpg) 70% no-repeat;
		background-size: cover;
		color: #FFFFFF;
	}

	.step-title {
		padding: 80rpx 0 40rpx;

	}

	.step-title>.h2 {
		font-size: 70rpx;
		line-height: 75rpx;
		text-align: center;
	}

	.step-title>.p {
		text-align: center;
		font-size: 28rpx;
		margin-top: 10rpx;
	}

	.step-lists {
		display: flex;
		flex-wrap: wrap;
	}

	.step-item {
		width: 25%;
		font-size: 26rpx;
		line-height: 28rpx;
		margin-top: 20rpx;
		display: flex;
		flex-direction: column;
		align-items: center;
		margin: 40rpx 0;
	}

	.step-item .img {
		width: 104rpx;
		height: 104rpx;
		border-radius: 50%;
		border: 1px solid #fff;
		display: flex;
		justify-content: center;
		align-items: center;
	}

	.step-item .img image {
		width: 40rpx;
		height: 40rpx;
	}

	.step-item text {
		margin-top: 30rpx;
	}

	.link {
		margin: 60rpx 0;
	}

	.link .link-title {
		width: 100%;
		height: 80rpx;
		line-height: 80rpx;
		border-left: solid 10rpx #e74c3c;
		background: #f5f5f5;
		font-size: 34rpx;
		padding-left: 30rpx;
		box-sizing: border-box;
	}

	.link-item {
		font-size: 28rpx;
		color: #888;
		line-height: 40rpx;
	}

	.link-item text {
		margin-left: 30rpx;
		line-height: 60rpx;
	}

	.footer {
		padding: 0 30rpx 60rpx;
		box-sizing: border-box;
		background: #444;
	}

	.footer-logo {
		width: 100%;
		padding: 40rpx 0;
	}

	.footer-logo image {
		width: 400rpx;
		height: 110rpx;
		display: block;
		margin: 0 auto;
	}

	.footer-link {
		display: flex;
		flex-direction: column;
	}

	.footer-link text {
		color: #bbb;
		font-size: 28rpx;
		margin: 10rpx 0;
	}

	.footer-input {
		width: 100%;
		border: 1px solid #ccc;
		margin-top: 10px;
		padding: 20rpx 0;

	}

	.footer-input text {
		color: #fff;
		font-size: 36rpx;
		display: inline-block;
		margin-left: 60rpx;
		padding-bottom: 20rpx;
	}

	.footer-input input {
		width: 60%;
		height: 70rpx;
		margin: 20rpx auto;
		background-color: #fff;
		border-radius: 10rpx;
		padding-left: 20rpx;
		box-sizing: border-box;
		font-size: 24rpx;
	}

	.footer-input .footer-but {
		width: 190rpx;
		height: 76rpx;
		text-align: center;
		line-height: 76rpx;
		background: #E33F4B;
		border-radius: 8rpx;
		font-size: 28rpx;
		color: #fff;
		margin-left: 70rpx;
	}

	.footer-ewm {
		width: 100%;
		display: flex;
		justify-content: center;
		margin-top: 40rpx;
		font-size: 28rpx;
		color: #fff;
	}

	.footer-ewm>view {
		display: flex;
		flex-direction: column;
		align-items: center;
	}

	.footer-img image {
		width: 200rpx;
		height: 200rpx;
	}

	.footer-span {
		line-height: 50rpx;
	}
	.footer-bottom{
		background:#444;
		width: 100%;
		border-top: 1px solid #FFFFFF;
		font-size: 26rpx;
		color: #aaa;
		line-height: 70rpx;
		text-align: center;
		padding: 0 20rpx;
		box-sizing: border-box;
	}
	.enter-rule{
		width: 200rpx;
		height: 70rpx;
		line-height: 70rpx;
		background:#b60005;
		color: #FFFFFF;
		text-align: center;
		font-size: 28rpx;
		position: fixed;
		right: 0;
		bottom: 100rpx;
	}
</style>
