<template>
	<view class="content">
		<view class="title">
			中华万年历
		</view>
		<view class="contents">
			<wCalendar :lunar="true" :disabledBefore="false" :disabledAfter="false" @confirm="getResult">
			</wCalendar>
		</view>
		<view class="show">
			<view class="show-info">
				<view class="date">
					<view class="gong">{{result.fullDate}}</view>
					<view class="nong">{{lunar.IMonthCn+lunar.IDayCn}}</view>
				</view>
				<view class="weather" v-if="locationInfo.type">
					<view class="wendu">{{locationInfo.high}}°</view>
					<view class="wh-info">
						<!-- <image src="../../static/images/duoyun.png" v-if="locationInfo.type=='多云'"></image>
						<image src="../../static/images/sun.png" v-if="locationInfo.type=='晴'"></image>
						<image src="../../static/images/dayyin.png" v-if="locationInfo.type=='阴'"></image>
						<image src="../../static/images/rain.png" v-if="locationInfo.type=='小雨'"></image>
						<image src="../../static/images/rain.png" v-if="locationInfo.type=='中雨'"></image>
						<image src="../../static/images/rain.png" v-if="locationInfo.type=='大雨'"></image>
						<image src="../../static/images/rain.png" v-if="locationInfo.type=='暴雨'"></image>
						<image src="../../static/images/rainandsnow.png" v-if="locationInfo.type=='雨夹雪'"></image>
						<image src="../../static/images/snow.png" v-if="locationInfo.type=='小雪'"></image>
						<image src="../../static/images/snow.png" v-if="locationInfo.type=='中雪'"></image>
						<image src="../../static/images/snow.png" v-if="locationInfo.type=='大雪'"></image> -->
						<!-- <image src="../../static/images/else.png" v-else></image> -->
						<text>{{locationInfo.type}}</text>
						<text>{{locationInfo.high}}/{{locationInfo.low}}</text>
					</view>
					<view class="">
						<text>{{locationInfo.fengxiang}}</text>
						<text>{{city}}</text>
					</view>


				</view>
			</view>
			<view class="info-date">
				<view class="info">
					<view>{{lunar.astro}}【属{{lunar.Animal}}】</view>
					<text>{{lunar.gzYear}}年</text>
					<text>{{lunar.gzMonth}}月</text>
					<text>{{lunar.gzDay}}日</text>
				</view>
				<button @tap="selectDate()">
					<view>吉日</view>
					<view>查询</view>
				</button>

			</view>
		</view>
		<view class="toWebIndex" @tap="toWebIndex()">返 回</view>
	</view>
</template>
<script>
	import wCalendar from "@/components/w-calendar/w-calendar.vue";
	export default {
		components: {
			wCalendar
		},
		data() {
			return {
				title: 'Hello',
				result: {},
				lunar: {},
				city: "",
				locationInfo: {}
			}
		},
		onLoad() {
			this.getLocal()
		},
		methods: {
			//获取位置信息
			getLocal() {
				// let _this = this;
				// 	uni.request({
				// 		url: 'http://wthrcdn.etouch.cn/weather_mini?city=' + "北京市",
				// 		data: {},
				// 		success: (res) => {
				// 			console.log(res)
				// 			if (res.data.status == 1000) {
				// 				_this.locationInfo = res.data.data.forecast[0]
				// 				_this.locationInfo.high = res.data.data.forecast[0].high.replace(/[^0-9]/ig, "");
				// 				_this.locationInfo.low = res.data.data.forecast[0].low.replace(/[^0-9]/ig, "");
				// 			}
				// 			uni.showToast({
				// 				title:"111",

				// 			})
				// 			uni.showToast({
				// 				title:res.data.data.forecast[0].high
				// 			})
				// 		},
				// 		fail: (err) => {
				// 			uni.showToast({
				// 				title: "失败",
				// 				icon: "none"
				// 			})
				// 		}
				// 	})
				let _this = this;
				uni.getLocation({
					type: 'wgs84', //默认为 wgs84 返回 gps 坐标
					geocode: true, //必写项
					success: (res) => {
						const latitude = res.latitude; //纬度
						const longitude = res.longitude //精度
						uni.request({
							url: "http://lbc.maohemao.cn/api/my/get_address", //根据经纬度获取城市
							method: "post",
							data: {
								lat: latitude,
								lng: longitude
							},
							header: {
								'token': uni.getStorageSync("token") //自定义请求头信息
							},
							success: (res) => {
								if (res.statusCode == 200) {
									if (res.data.status == true) {
										_this.city = res.data.data.result.address_component.city //城市
										uni.request({
											url: 'http://wthrcdn.etouch.cn/weather_mini?city=' + _this.city, //获取天气
											success: (res) => {
												// console.log(_this.city)
												if (res.data.status == 1000) {
													_this.locationInfo = res.data.data.forecast[0]
													_this.locationInfo.high = res.data.data.forecast[0].high.replace(/[^0-9]/ig, "");
													_this.locationInfo.low = res.data.data.forecast[0].low.replace(/[^0-9]/ig, "");
												}
											},
											fail: (err) => {
												uni.showToast({
													title: "获取失败",
													icon: "none"
												})
											}
										})
									}
								}
							},
							fail(err) {
								uni.showToast({
									title: "系统错误，请联系客服",
									icon: "none"
								})
							}
						})

					},
					fail(err) {
						// console.log(err.errMsg.indexOf("getLocation:fail [geolocation:12]"))
						if (err.errMsg.indexOf("fail [geolocation:12]") !== -1) {
							uni.showModal({
								title: "提示",
								content: "打开定位，获取天气信息",
								success: function(res) {
									if (res.confirm) {
										setTimeout(() => { //确认
											_this.getLocal();
										}, 2000)
									} else if (res.cancel) {
										uni.showToast({ //取消
											title: "获取天气失败",
											icon: "none",
											duration: 2000
										})
									}
								}
							})
						} else {
							uni.showToast({
								title: "获取天气失败",
								icon: "none"
							})
						}
					}
				})

				// if (res.address) {
				// 	_this.city = res.address.city;
				// 	var city = _this.city;

				// 	uni.request({
				// 		url: 'http://wthrcdn.etouch.cn/weather_mini?city=' + city.toString(),
				// 		data: {},
				// 		success: (res) => {
				// 			console.log(city)
				// 			if (res.data.status == 1000) {
				// 				_this.locationInfo = res.data.data.forecast[0]
				// 				_this.locationInfo.high = res.data.data.forecast[0].high.replace(/[^0-9]/ig, "");
				// 				_this.locationInfo.low = res.data.data.forecast[0].low.replace(/[^0-9]/ig, "");
				// 			}
				// 			// uni.showToast({
				// 			// 	title: city
				// 			// })
				// 			// this.$forceUpdate()
				// 		},
				// 		fail: (err) => {
				// 			uni.showToast({
				// 				title: "获取失败",
				// 				icon: "none"
				// 			})
				// 		}
				// 	})
				// }

			},
			//选择日期
			getResult(res) {
				// console.log(res);
				this.$nextTick(() => {
					this.result = res;
					this.lunar = { ...res.lunar
					}
				})

			},
			//返回上一页
			toWebIndex() {
				uni.navigateBack({
					delta: 1,
					animationType: 'pop-out',
					animationDuration: 200
				})
			},

			//跳转页面
			selectDate() {
				uni.navigateTo({
					url: "/pages/calendar/calendar",
					animationType: 'pop-in',
					animationDuration: 200
				})
			}
		}
	}
</script>

<style scoped>
	.content {
		background: #e5e5e5;
	}

	.title {
		padding-top: 40rpx;
		width: 100%;
		text-align: center;
		line-height: 100rpx;
		border-bottom: 1px solid #333333;
		background: #a10600;
		color: #fff;
	}

	.sub-title {
		font-size: 24rpx;
		width: 100%;
		text-align: center;
		line-height: 60rpx;
	}

	.toWebIndex {
		width: 50rpx;
		height: 150rpx;
		line-height: 50rpx;
		background: #000;
		color: #FFFFFF;
		text-align: center;
		font-size: 28rpx;
		position: fixed;
		left: 0;
		bottom: 70rpx;
		-webkit-writing-mode: vertical-rl;
		writing-mode: vertical-rl;
		border-radius: 0 30rpx 30rpx 0;
	}

	.btn {
		padding-top: 100rpx;
		text-align: center;
	}

	.show {
		width: 100%;
		background: #FFFFFF;
		border-top: 10rpx solid #E1E1E1;
		padding: 0 30rpx;
		box-sizing: border-box;
	}

	.show-info {
		display: flex;
		justify-content: space-between;
		align-items: center;
		border-bottom: 1px solid #E1E1E1;
	}

	.date {
		line-height: 80rpx;
		font-size: 40rpx;
		font-weight: 600;
	}

	.date .gong {
		color: #2C405A;
	}

	.date .nong {
		color: #4D4E53;

	}

	.wh-info>image {
		width: 30rpx;
		height: 30rpx;
	}

	.weather {
		text-align: right;
		font-size: 32rpx;
	}

	.weather text {
		margin-left: 10rpx;
	}

	.weather>view {
		margin: 10rpx 0;
	}

	.wendu {
		font-size: 60rpx;
		color: #01B9FF;
	}

	.info-date {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}

	.info-date button {
		margin: 0;
		border: 1px solid #a10600;
		background: #FFFFFF;
		color: #a10600;
		padding: 10rpx 20rpx;
	}

	.info-date button view {
		font-size: 28rpx;
		line-height: 40rpx;
		word-spacing: 30rpx;
	}

	.info {
		line-height: 60rpx;
		font-size: 32rpx;
	}

	.info text {
		margin-right: 15rpx;
		color: grey;
	}
</style>
