<template>
	<view class="pay">
		<view class="pay-title">
			<!-- <image src="../../static/images/return2.png" mode="" @tap="goback"></image> -->
			<view class="pay-fu">
				在线付费
			</view>
			<!-- <view style="width: 50rpx;"></view> -->
		</view>
		<view class="center">
			<view class="pay-con">
				<view class="inp">
					<text>金额 :</text>
					<input type="text" v-model="money" disabled="" />
					<text class="yuan">元</text>
				</view>
				<view class="pay-method">
					<view class="method-tit">支付方式</view>
					<view class="payful">
						<image src="../../static/images/wxpay.png" mode=""></image>
						<view>
							微信支付
						</view>
						<text :class="['sel-pay',payPost=='wxpay'?'seleted':'']" @tap="selectPay('wxpay')">●</text>
					</view>
					<view class="payful">
						<image src="../../static/images/alipay.png" mode=""></image>
						<view>
							支付宝支付
						</view>
						<text :class="['sel-pay',payPost=='alipay'?'seleted':'']" @tap="selectPay('alipay')">●</text>
					</view>
				</view>
			</view>
		</view>
		<button class="confirm" @tap="paybtn?pay():''">确认支付</button>
		<view class="goback" @tap="goback()">返 回</view>
	</view>
</template>

<script>
	import {
		debounce
	} from "../../static/debounce.js"
	export default {
		data() {
			return {
				money: 1,
				payPost: "wxpay",
				page: "",
				paybtn: true,
				date:"",//万年历查询日期
				calendarOrder:""   //根据日期区间查询金额所生成的订单号
			}
		},
		methods: {
			//返回上个页面
			goback() {
				uni.navigateBack({
					delta: 1
				})
			},
			//支付方式
			selectPay(i) {
				this.payPost = i
			},
			//支付
			pay() {
				// var _this=this
				if (this.payPost == 'wxpay') {
					if (this.page == '鲁班尺查询') {
						allPay("api/lbc/pay", '鲁班尺查询', this.paybtn, this.page,"wxpay")
					} else if (this.page == '万年历查询') {
						allPay("api/gday/pay", '万年历查询', this.paybtn, this.page,"wxpay",this.calendarOrder)
					} else if (this.page == '八字查询') {
						allPay("api/ew/pay", '八字查询', this.paybtn, this.page,"wxpay")
					} else if (this.page == '开通会员') {
						allPay("api/pay/pay", '开通会员', this.paybtn, this.page,"wxpay")
					}
					// console.log(this.page)
				} else {
					if (this.page == '鲁班尺查询') {
						allPay("api/alipay/lbc_dlc", '鲁班尺查询', this.paybtn, this.page,"alipay")
					} else if (this.page == '万年历查询') {
						allPay("api/alipay/gday", '万年历查询', this.paybtn, this.page,"alipay",this.calendarOrder)
					} else if (this.page == '八字查询') {
						allPay("api/alipay/ew", '八字查询', this.paybtn,this.page, "alipay")
					} else if (this.page == '开通会员') {
						allPay("api/alipay/pay", '开通会员', this.paybtn,this.page, "alipay")
					}
				}

				function allPay(url, body, paybtn, page,provider,dateOrder) {
					let  data=""
					if(dateOrder){
						data={body: body,out_trade_no:dateOrder}
					}else{
						data={body: body}
					}
					uni.request({
						url: "http://lbc.maohemao.cn/" + url,
						method: "POST",
						data: data,
						header: {
							'token':uni.getStorageSync("token")  //自定义请求头信息
						},
						success: (res) => {
							// console.log(res)
							let obj = res.data.data
							uni.requestPayment({
								provider: provider,
								orderInfo: obj,
								success: (res) => {
									// console.log(res)
									if (res.errMsg == "requestPayment:ok") { // 调用支付成功  返回首页
										if (page != '开通会员') {
											uni.setStorageSync("pay", true)
										}
										uni.showToast({
											title: "支付成功",
											icon: "none",
											duration: 2000
										})
										setTimeout(() => {
											uni.navigateBack({
												delta: 1
											})
										}, 1000)
									}
								},
								fail: (err) => {
									uni.showToast({
										title: "支付失败",
										icon: "none",
										duration: 2000
									})
								},
								complete: () => {
									paybtn = false
								}
							})
						},
						fail: (err) => {
							uni.showToast({
								title: "系统错误，请联系客服",
								icon: "none"
							})
						}
					})
				}


			},
		},
		onLoad(options) {
			if(options.date){
				this.date=JSON.parse(options.date)
			}
		},
		onShow() {
			var pages = getCurrentPages(); // 当前页面
			var beforePage = pages[pages.length - 2]; // 前一个页面
			if (beforePage.route == "pages/index/index") {
				this.page = "鲁班尺查询"
				this.money = 0.1
			} else if (beforePage.route == "pages/calendar/calendar") {
				this.page = "万年历查询"
				uni.request({
					url: "http://lbc.maohemao.cn/api/gday/prepaid",
					method: "post",
					data: {
						startdate: this.date.start,
						enddate: this.date.end,
					},
					header: {
						'token': uni.getStorageSync("token") //自定义请求头信息
					},
					success: (res) => {
						console.log(res)
						this.calendarOrder=res.data.data.out_trade_no;
						this.money=res.data.data.total_fee
					},
					fail:(err) =>{
						uni.showToast({
							title: "系统错误，请联系客服",
							icon: "none"
						})
					}
				})
				
			} else if (beforePage.route == "pages/fate/fate") {
				this.page = "八字查询"
				this.money = 5
			} else if (beforePage.route == "pages/mine/mine") {
				this.page = "开通会员"
				this.money = 10
			}
			// console.log(this.page)

		}
	}
</script>

<style>
	.pay {
		width: 100%;
		height: 100vh;
		background: #f1f1f1;
	}
	/* .center{
		width: 100%;
		display: flex;
		justify-content: center;
		align-items: center;
	} */
	.pay-title {
		height: 100rpx;
		background: #a10600;
		font-size: 38rpx;
		color: #FFFFFF;
		padding-top: 40rpx;
		text-align: center;
		line-height: 100rpx;
	}

	.pay-title>.pay-fu {
		flex: 1;
		text-align: center;
	}

	.pay-title image {
		width: 40rpx;
		height: 40rpx;
		margin-top: 10rpx;
	}

	.pay-con {
		width: 100%;
		margin-top: 60rpx;
	}

	.inp {
		display: flex;
		justify-content: center;
		margin-top: 30rpx;
		font-size: 32rpx;
		align-items: center;
	}

	.inp input {
		width: 80rpx;
		height: 60rpx;
		text-align: center;
		line-height: 60rpx;
		margin: 0 20rpx;
		font-size: 28rpx;
		border: 1px solid #4C0B00;
	}

	.yuan {
		font-size: 24rpx;
	}

	.method-tit {
		width: 100%;
		height: 80rpx;
		line-height: 80rpx;
		margin: 50rpx 0;
		background: #fff;
		padding-left: 30rpx;
		box-sizing: border-box;
	}

	.pay-method button {
		width: 250rpx;
		margin: 20rpx auto;
		font-size: 28rpx;
	}

	.payful {
		display: flex;
		align-items: center;
		justify-content: space-between;
		height: 100rpx;
		background: #fff;
		border-bottom: 1px solid #F1F1F1;
		padding: 0 30rpx;
		box-sizing: border-box;
	}

	.payful>view {
		flex: 1;
		margin-left: 20rpx;
	}

	.payful image {
		width: 60rpx;
		height: 60rpx;
	}

	.sel-pay {
		display: block;
		width: 50rpx;
		height: 50rpx;
		border-radius: 50%;
		color: #fff;
		border: 1px solid #000;
		text-align: center;
		line-height: 47rpx;
	}

	.seleted {
		color: #01b9ff;
	}

	.confirm {
		width: 300rpx;
		height: 90rpx;
		line-height: 90rpx;
		background: #a10600;
		color: #fff;
		margin-top: 80rpx;
	}

	.goback {
		width: 50rpx;
		height: 150rpx;
		line-height: 50rpx;
		background: #000;
		color: #FFFFFF;
		text-align: center;
		font-size: 28rpx;
		position: fixed;
		left: 0;
		bottom: 70rpx;
		-webkit-writing-mode: vertical-rl;
		writing-mode: vertical-rl;
		border-radius: 0 30rpx 30rpx 0;
	}
</style>

